{% extends "layout.html" %}
{% block title %}Downloads{% endblock %}
{% block header %}
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> -->
{% endblock %}
{% block content %}
<center>
	<a href="/return-files/" target="blank"><button class="btn btn-success">Download</button></a>
</center>
{% endblock %}
{% block footer %}
<!-- <SCRIPT LANGUAGE="JavaScript">document.forms[0].submit();</SCRIPT> -->
{% endblock %}
