{% extends "layout.html" %}
{% block title %}Upload{% endblock %}
{% block header %}
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> -->
{% endblock %}
{% block content %}
<form action="" method="post" role="form" enctype="multipart/form-data" enctype = "multipart/form-data">
	{{ form.crsf }}
	<div class="form-group">
		<label for="name">name</label>
		<input type="text" class="form-control" id="name" name="name" placeholder="A name or nickname is required." >
		<br>
		<label for="email">email</label>
		<input type="text" class="form-control" id="email" name="email" placeholder="An email address is required." >
		<br>
		<label for="fasta">fasta file (single entry)</label>
		<input type="file" name="fasta" value="fasta" />
	</div>
	<br>
	<center>
		<input type="submit" name="submit" value="submit" class="btn btn-success" />
	</center>
	<br>
</form>
{% endblock %}
{% block footer %}
<!-- <SCRIPT LANGUAGE="JavaScript">document.forms[0].submit();</SCRIPT> -->
{% endblock %}
