<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>CMA--{% block title %}{% endblock %}</title>
		<!-- <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css"> -->
		<!-- <link rel="stylesheet" media="screen" href ="static/bootstrap-theme.min.css"> -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- For detsils on Boostrao see https://getbootstrap.com/ -->
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
		{% block header %}{% endblock %}
	</head>
	<body>
		<div class="header"><br>
			<div class="container" align="center"><br>
				<div class="col-md-8" align="left">
					<center>
						<h1 align="center"><img src="{{url_for('static', filename='cma.png')}}" alt="CMA" width="100%"/></h1>
					</center>
				</div>
			</div>
		</div>
		<div class="container" align="center"><br>
			<div class="col-md-8" align="left">
				<div align="left">
					{% block content %}{% endblock %}
					{% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
							{% for message in messages %}
								{% if "Error" in message[1]: %}
									<div class="alert alert-danger">
										{{ message[1] }}
									</div>
								{% else %}
									<div class="alert alert-success">
										{{ message[1] }}
									</div>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endwith %}
					{% block body %}
					{% endblock %}
				</div>
			</div>
		</div>
		<div class="container" align="center"><br>
			<div class="col-md-8" align="left">
				<div align="left">
					<hr>
					<p><b>Data Collection:</b> For security reasons, we will store some data
					within the server's log files (<i>e.g.</i>, time, name, email, and file
					name). You will be able to use the data stored this way to retrieve the
					results of your analysis, but we do not guarantee to save your files for
					any period. We can delete uploaded data at any moment. Backing up is
					key. We will not process the data you provide, except for the following
					cases: suspicion of a criminal offense, statistical purposes,
					optimization of the web-service, and research use. Please consider that
					data transfer over the internet is unsecured. We cannot guarantee that
					transferred data will not be read or altered by unauthorized third
					parties.</p>
					<hr>
					<p><b>Contact Information:</b> For contact information and to learn more
					abou the Laboratório de Helmintologia Evolutiva, visit <a
					href="http://www.ib.usp.br/hpc/">www.ib.usp.br/hpc/</a>.</p>
					<hr>
					<p><b>Stand Alone Application:</b> A stand alone application of the CMA
					pipeline will soon be made available at <a
					href="https://github.com/machadodj/cestode_mitogenome_annotator">https:/
					/github.com/machadodj/cestode_mitogenome_annotator</a>.</p>
					<hr>
					<p><b>How to Cite:</b> Stay tuned for updates on how to cite the CMA
					pipeline.</p>
					<hr>
					<p><b>Acknowledgements:</b></p>
					<style>
						.flex-container {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: stretch;
						}
					</style>
					<div class="flex-container">
						<div>
							<img src="{{url_for('static', filename='usp.png')}}" alt="USP" height="48">
						</div>
						<div>
							<img src="{{url_for('static', filename='ib.png')}}" alt="IB" height="48">
						</div>
						<div>
							<img src="{{url_for('static', filename='fapesp.png')}}" alt="IB" height="48">
						</div>
						<div>
							<img src="{{url_for('static', filename='lhe.png')}}" alt="LHE" height="48">
						</div>
					</div>
					<br>
				</div>
			</div>
		</div>
	</body>
	{% block footer %}{% endblock %}
</html>

